[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
gcm-analyzer = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
gcm_analyzer = "python gcm_analyzer/main.py"
